<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="club.veev.babycount">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EntranceActivity"
            android:theme="@style/AppEntrances">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".record.AddRecordActivity"
            android:label="@string/title_activity_add_record"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".category.AddCategoryActivity"
            android:label="@string/title_activity_add_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".person.SelectSourceActivity"
            android:label="@string/title_activity_select_source"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".person.AddPersonActivity"
            android:label="@string/title_activity_add_person"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".person.SelectTargetActivity"
            android:label="@string/title_activity_select_target"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".place.AddPlaceActivity"
            android:label="@string/title_activity_add_place"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".place.SelectPlaceActivity"
            android:label="@string/title_activity_select_place"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".category.WatchCategoryActivity"
            android:label="@string/title_activity_watch_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".category.EditCategoryActivity"
            android:label="@string/title_activity_edit_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".record.RecordDetailActivity"
            android:label="@string/title_activity_record_detail"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>